amqp==2.1.4
appdirs==1.4.3
beautifulsoup4==4.6.0
billiard==3.5.0.2
celery==4.0.2
gspread==0.6.2
httplib2==0.10.3
kombu==4.0.2
oauth2client==4.1.0
packaging==16.8
pkg-resources==0.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
pytz==2017.2
requests==2.14.2
rsa==3.4.2
six==1.10.0
termcolor==1.1.0
vine==1.1.3
